/* CSS Document */

table#curdbee {
  width: 100%;
}
table#curdbee tr.odd,
table#curdbee tr.even {
  border: 1px solid #f1f1f1;
}
table#curdbee tr.odd {
  background: #ffffff;
}
table#curdbee tr.even {
  background: #f9f9f9;
}
table#curdbee td {
  padding: 5px 10px;
}
